.container {
  min-width: $container-max-width;
  max-width: $container-min-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
  padding-right: 130px;
  width: 100%;
  @include media($lm) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include media($xs) {
    padding-left: 16px;
    padding-right: 16px;
  }
}