.slider {
  margin-bottom: 205px;
  @include wrap(var(--bg-second), 0);
  @include media($sm) {
    margin-bottom: 66px;
  }
}
.slider__container {
  padding-top: 96px;
  padding-bottom: 96px;
  @include flex(flex, flex-end, center, none, none);
  position: relative;
  @include media($lg) {
    @include flex(flex, center, center, column, none);
  }
  @include media($sm) {
    padding-top: 65px;
    padding-bottom: 0px;  }
}
.slider__phone {
  position: absolute;
  left: 131px;
  top: 39px;
  @include media($lg) {
    position: relative;
    left: unset;
    top: unset;
    margin-bottom: 40px;
  }
}
.slider__phone2 {
  position: absolute;
  top: -85px;
  left: 430px;
  @include media($lxx) {
    display: none;
  }
}
.slider__wrap {
  position: absolute;
  top: 10px;
  left: 13px;
}
.slider__wrapper {
  position: relative;
}
.slider__background-up {
  position: absolute;
  left: 0;
}
[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
  transition-duration: 1.4s !important;
}
.slider__flex {
  @include flex(flex, none, flex-start, none, none);
  @include media($sm) {
    @include flex(flex, none, flex-start, column, none);
  }
}
.slider__flex:not(:last-child) {
  margin-bottom: 40px;
}
.slider__flex--up {
  position: absolute;
  @include media($sm) {
    display: none;
  }
}
.slider__flex--down {
  @include media($sm) {
    display: none;
  }
}
.slider__flex--up2 {
  position: absolute;
  top: 0;
  z-index: 20;
}
.slider__psevdo {
  @include flex(flex, center, center, none, none);
  @include wrap(var(--bg-color5), 24px);
  padding: 20px;
  margin-right: 20px;
  @include media($sm) {
    margin-right: 0px;
    padding: 14px;
    border-radius: 16px;
    margin-bottom: -10px;
    z-index: 10;
    margin-left: 25px;
  }
}
.slider__icon {
  width: 40px;
  height: 40px;
  @include media($sm) {
    width: 20px;
    height: 20px;
  }
}
.slider__subtitle {
  padding: 24px;
  @include wrap(var(--bg-main), 24px);
  max-width: 380px;
  @include media($sm) {
    @include font(15px, 20px, 400);
    font-feature-settings: "liga" off;
  }
}
// .aos-animate + .slider__flex--top > .slider__subtitle {
//   opacity: 0 !important;
//   transition-duration: 1.4s !important;
// }
.aos-animate + .slider__flex--down > .slider__subtitle,.slider__flex--top > .slider__subtitle {
  opacity: 0 !important;
  transition-duration: 1.4s !important;
}
